$primary-bac-color:#212121;
$border-primary-color:#3c3c3c;
$primary-color:#fff000;
// general styles
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $primary-bac-color;
}

// loading styles
.content {
    position: relative;
    width: 110px;
    height: 110px;
    background: transparent;
    border: px solid $border-primary-color;
    border-radius: 50%;
    text-align: center;
    line-height: 111px;
    font-family: sans-serif;
    color: $primary-color;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px $primary-color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }